<%= turbo_frame_tag 'room', data: {
    controller: "video-room",
    video_room_api_key_value: @video_call.application_id,
    video_room_session_id_value: @video_call.session_id,
    video_room_uuid_value: @video_call.uuid,
    video_room_participant_name_value: session[:participant_name],
    video_room_token_value: @token 
  } do %>
  <%= tag.div id: "room-container" %>
  <% if authenticated? %>
    <button data-action="click->video-room#end">End Call</button>
  <% end %>
<% end %>
<%= link_to 'Leave video call', outro_path, class: 'button alert' %>
<%= raw(@qr.html_safe) %>