<h1>Vonage Video Demo</h1>
<picture>
  <source srcset="/img/VonageLogo_Primary_White.png" media="(prefers-color-scheme:dark)">
  <img src="/img/VonageLogo_Primary_Black.png" alt="Vonage logo">
</picture>
<p>Thanks for trying the demo</p>
<%= link_to 'Vonage Developer Documentation', 'https://developer.vonage.com' %>
