#room-container {
  width: 100vw;
  height: calc(65vh);
  position: relative;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

#room-container > .OT_publisher {
  position: absolute;
  border-radius: 10px;
}

mark.alert {
  background-color: #f15656;
  color: #ffffff;
}

button.action {
  background-color: #6f539f;
  border-color: #6f539f;
  color: #ffffff;
}

button.action:hover {
  background-color: #8574a3;
  border-color: #8574a3;
  color: #ffffff;
}

button.alert {
  background-color: #d42d90;
  border-color: #d42d90;
  color: #ffffff;
}

button.alert:hover {
  background-color: #d471ad;
  border-color: #d471ad;
  color: #ffffff;
}

.header-container {
  max-width: 600px;
  margin: 0 auto;
}

.header-container picture {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

:root {
  --accent: #7FC5EA;
}